@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800;900&family=Cairo:wght@300;400;500;600;700;800&display=swap");
:root {
  --main1-box-color: #1d1933;
  --main-color: #f28600;
  --body-color: #121128;
  --white-color: #fff;
  --test-width: 402px;
  --main-hover-color: #7505f0;
  --height: 80%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
  line-height: 1.15;
}
body {
  margin: 0;
  background-color: var(--body-color);
}
::selection {
  color: white;
  background-color: var(--main-hover-color);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  width: 85vw;
  margin: auto;
}
::-webkit-scrollbar {
  background-color: rgb(0 0 0 / 10%);
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-hover-color);
  border-radius: 20px;
}
.main-title {
  font-size: 25px;
  width: 8em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  font-family: sans-serif;
  text-transform: capitalize;
  position: relative;
  transition: 0.5s;
  margin: 0.8em;
  margin: auto;
  color: gainsboro;
  margin-bottom: 70px;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  background-color: gainsboro;
  border-radius: 50%;
  transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
  top: calc(50% - 0.6em / 2);
}
.main-title::before {
  left: 0;
  z-index: -1;
}
.main-title::after {
  right: 0;
  z-index: -2;
}
.main-title:hover {
  color: white;
}
.main-title:hover::before,
.main-title:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: var(--main-hover-color);
}
.main-title:hover::before {
  top: 0;
}
.main-title:hover::after {
  right: -0.4em;
  filter: brightness(0.8);
}
/* Start Header */
header {
  background-color: var(--main1-box-color);
  border-radius: 0 0 8px 8px;
  position: fixed;
  width: 100vw;
  z-index: 9;
}
header .container {
  display: flex;
  padding: 15px 0;
  justify-content: center;
}
header .container .main-links {
  display: flex;
  align-items: center;
  gap: 5vw;
  font-size: 25px;
}
header .container .main-links a {
  color: var(--white-color);
  font-weight: bold;
}
header .container .main-links a {
  --s: 0.1em;
  --c: var(--main-color);

  color: #0000;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, white 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
header .container .main-links a:hover,
header .container .main-links a.active {
  --_p: 100%;
}
/* header .container .other {
  display: flex;
  gap: 25px;
  font-size: 25px;
  color: var(--main-color);
  align-items: center;
}
header .container .other i {
  cursor: pointer;
  transition: 1s;
}
header .container .other lord-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
header .container .other i.uil-sun:hover {
  transform: rotate(180deg);
} */
.header {
  display: none;
}
.show-head {
  display: none;
}
@media (max-width: 762px) {
  header .container .main-links {
    gap: 27px;
    font-size: 25px;
  }
  header .container .other {
    gap: 20px;
    font-size: 21px;
  }
  header .container .other lord-icon {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 555px) {
  header {
    display: none;
  }
  .header {
    display: block;
  }
  .show-head {
    display: block;
  }
}
.header {
  border-radius: 0 0 8px 8px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 9;
  transform: translateY(500px);
  background-color: var(--main1-box-color);
  transition: 0.5s;
  border-radius: 15px 15px 0 0;
}
.header .container {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}
.header .container .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 25px;
  width: 100%;
}
.header .container .links div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.header .container .links div a p {
  --s: 0.1em;
  --c: var(--main-color);

  color: #0000;
  margin: 0;
  font-weight: bold;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, white 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
.header .container .links div a p:hover {
  --_p: 100%;
}
.header .container .links i {
  color: var(--main-color);
}
.show-head {
  color: var(--main-color);
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  z-index: 99;
}
.show {
  transform: translateY(0) !important;
}
/* End Header */
/* Start Home */
.home {
  min-height: 80vh;
  display: grid;
  place-self: center;
}
.home .container {
  display: flex;
  justify-content: space-between;
}
.home .container .info {
  width: fit-content;
  color: white;
  font-size: 1.9em;
}
.home .container .info .h1-home {
  color: var(--main-color);
  transition: 0.5s;
  border-right: 2px solid var(--main-color);
  overflow: hidden;
  white-space: nowrap;
  animation: control-width 7s 1s steps(25) infinite both, blink 0.5s 1s infinite;
  text-align: left;
}
@keyframes control-width {
  0% {
    width: 0;
  }
  50% {
    width: var(--test-width);
  }
  100% {
    width: 0;
  }
}
.home .container img {
  height: 25vw;
}
@media (max-width: 1122px) {
  .home .container .info {
    font-size: 1.4em;
  }
  body {
    --test-width: 297px;
  }
}
@media (max-width: 875px) {
  .home .container img {
    display: none;
  }
}
/* End Home */
/* Start About */
.about {
  min-height: 60vh;
  background: linear-gradient(
    272deg,
    transparent,
    var(--main1-box-color),
    transparent
  );
}
.about .container {
  display: grid;
  min-height: 65vh;
  align-items: center;
  place-content: center;
}
/* .about .container .shap {
  width: 600px;
  height: 600px;
  position: absolute;
  right: -100px;
  background-color: #6b00e3;
  bottom: -100px;
  z-index: -1;
  border-radius: 50%;
  filter: blur(113px);
} */
.about .container .info {
  cursor: text;
}
.about .container .info h2 {
  text-align: center;
  color: var(--main-color);
  letter-spacing: 1.5px;
  font-size: 35px;
}
.about .container .info p {
  color: white;
  line-height: 2;
  font-size: 25px;
  text-align: center;
}
.about .container .info a {
  text-decoration: underline;
  color: gainsboro;
}
.coolBeans {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: var(--main-hover-color);
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  padding: 12px 18px;
  transition: 0.2s transform ease-in-out;
  position: relative;
  z-index: 0;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}
.coolBeans::after {
  background-color: var(--main-hover-color);
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.coolBeans:hover::after {
  transform: translate(0, 0);
}
.coolBeans:hover {
  border: 2px solid transparent;
  color: white;
  transform: scale(1.05);
  will-change: transform;
}
/* End About */
/* Start Skills */
.skills .container .info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 50px;
  gap: 50px;
  place-items: center;
}
.skills .container .info .box,
.skills .container .info .image {
  color: white;
  font-size: 100px;
  width: 180px;
  height: 180px;
  display: grid;
  place-content: center;
  border: 3px solid var(--main-hover-color);
  border-radius: 10px;

  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px var(--main-hover-color);
  transition: 0.5s;
}
.skills .container .info .box::before,
.skills .container .info .image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 200%;
  z-index: -1;
  height: 0%;
  transform: skew(5deg);
  bottom: -20px;
  border-radius: 50%;
  background-color: var(--main-hover-color);
  animation: waving 2s ease-in-out infinite alternate;
  transition: 0.5s;
}
.skills .container .info .box:hover,
.skills .container .info .image:hover {
  box-shadow: 0px 0px 30px 0px var(--main-hover-color);
  transform: scale(1.05);
}
@keyframes waving {
  from {
    transform: skew(0, 5deg);
  }
  to {
    transform: skew(0, -5deg);
  }
}
.skills .container .info .image img {
  width: 100px;
  height: 100px;
}
.skills .container .info .box::after,
.skills .container .info .image::after {
  content: attr(number) "%";
  position: absolute;
  color: white;
  top: 100%;
  font-size: 20px;
  left: 50%;
  transform: translateX(-40%);
  transition: 0.5s;
}
.box:hover {
  box-shadow: 0px 0px 30px 0px red;
  transform: scale(1.05);
}
.skills .container .info .box:nth-child(1):hover::before,
.skills .container .info .box:nth-child(2):hover::before {
  height: calc(90% + 20px);
}
.skills .container .info .box:nth-child(3):hover::before {
  height: calc(85% + 20px);
}
.skills .container .info .box:nth-child(4):hover::before,
.skills .container .info .box:nth-child(6):hover::before,
.skills .container .info .box:nth-child(7):hover::before,
.skills .container .info .box:nth-child(8):hover::before,
.skills .container .info .box:nth-child(9):hover::before,
.skills .container .info .box:nth-child(10):hover::before,
.skills .container .info .box:nth-child(11):hover::before {
  height: calc(10% + 20px);
}
.skills .container .info .box:nth-child(5):hover::before,
.skills .container .info .box:nth-child(12):hover::before {
  height: calc(70% + 20px);
}
.skills .container .info .box:hover::after,
.skills .container .info .image:hover::after {
  top: 10px;
}
.box i {
  font-size: 100px;
}
.skills .container .tools h2 {
  text-align: center;
  color: var(--main-color);
  letter-spacing: 1.5px;
  font-size: 35px;
  margin-top: 60px;
}
.skills .container .tools .images {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}
.skills .container .tools .images img {
  width: 180px;
  height: 180px;
  margin: auto;
}
/* End Skills */
